.containerContato {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  flex-direction: row;
  animation: var(--inLeftAnimation);
}

.imgContato {
  max-width: 400px;
  border-radius: 15px;
}

.containerDetalheContato {
  margin: 0 5rem;
}

.nomeContato {
  font-size: 2rem;
  margin: 1rem 0;
}

.emailContato {
  font-size: 1.1rem;
  margin: 0;
  padding: 0 0 .3rem
}

.numeroContato {
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}