.NavLink {
  padding: 1rem;
  margin: 0 auto;
}

.Link {
  font-family: sans-serif;
  font-weight: 300;
  text-decoration: none;
  padding: .5rem .8rem;
  margin: 1rem;
  color: rgb(23, 23, 23);
  border-bottom: .3px solid #ffffff;
}

:global(.active) {
  padding: .5rem .8rem;
  margin: 1rem;
  color: rgb(23, 23, 23);
  border-bottom: .3px solid #232323
}