.produtoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  animation: var(--inLeftAnimation);
}

.imgProduto {
  max-width: 400px;
  border-radius: 15px;
}

.descricaoContainer {
  max-width: 400px;
  margin: 0 2rem;
  padding: 0;
  display: flex;
  flex-direction: column;


}

.produto {
  font-family: sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.preco {
  padding: .2rem .6rem;
  background: rgb(57, 151, 85);
  align-self: flex-start;
  color: white;
  border-radius: 4px;
}